Package: com.icraze.longercallbutton
Name: LongerCallButton
Depends: mobilesubstrate
Version: 1.5
Architecture: iphoneos-arm
Description: Make The Call Button Longer!
Maintainer: iCraze
Author: iCraze
Section: Tweaks